name: Pipeline CI

on:
  push:
    branches: [ "main", "develop" ]
  pull_request:
    branches: [ "main", "develop" ]

jobs:
  build:
    runs-on: ubuntu-latest

    services:
      sonarqube:
        image: sonarqube
        ports:
          - 9000:9000

    steps:

    - name: SonarQube Scan
      uses: SonarSource/sonarqube-scan-action@master
      env:
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        SONAR_HOST_URL: http://sonarqube:9000
      with:
        args: >
          -Dsonar.projectKey=Julien-epi_Projet-Devops_AYyB4gS-iG9UQ8S_ethY
          -Dsonar.organization=Julien-epi
          -Dsonar.host.url=http://sonarqube:9000
          -Dsonar.login=${{ secrets.SONAR_TOKEN }}


    - name: Build Docker Image
      run: docker build -t julien94800/image-front:latest .

    - name: Log in to Docker Hub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_TOKEN }}

    - name: Push Docker Image to Docker Hub
      run: docker push ${{ secrets.DOCKER_USERNAME }}/image-front:latest

    - name: Continuous Deployment
      run: |
        ./script-docker.sh
